In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [4]:
df=pd.read_pickle('drive/MyDrive/worknet_job.pickle')

In [5]:
pd.set_option('display.max_columns',500)

In [6]:
pd.options.display.float_format = '{:.2f}'.format

In [7]:
df.head()

,SEEK_CUST_NO_x,SEEK_AUTH_NO,SEEK_AUTH_DT_x,SEEK_AUTH_DT_AF12,AGE_x,CNO,ACQS_DE,FRFTR_DE,LFLY_DE,BPLC_CNO,JSSFC_CD,JSSFC_OD,BIZRNO,RN,MONTH_6,BIRTHDATE,SEX_CD,REGION_CD,ZIP_CD,SEEK_AUTH_DTM,SEEK_APPLY_DTM,SEEK_CLOSE_HOPE_DT,SEEK_APPLY_CH_CLCD,COMM_DAILY_CLCD,INFO_OPEN_GRDCD,CLOSE_CLCD,LAST_CLOSE_DTM,LAST_CLOSE_DEALER_ID,CLOSE_DEAL_ORGCD,CLOSE_DEAL_CONT,SAE_YN,SELFSPT_CLCD,REQ_NO,SEEK_REG_GOAL_CD,SEEK_REG_GOAL_ETC_CONT,PLCMT_HOPE_LEVEL_CD,SEEK_INFO_OPEN_CD,MAILSVC_RCV_YN,EMP_TP_CD,DELEGATE_WORK_YN,SAL_TP_CD,MM_SAL,HOPE_SAL,READJUST_POSS_YN,HOPE_WORK_HR,HOPE_JOBS_1_CD,HOPE_JOBS_2_CD,HOPE_JOBS_3_CD,JOB_1_CONT,JOB_2_CONT,JOB_3_CONT,HOPE_REGION_1_CD,HOPE_REGION_2_CD,HOPE_REGION_3_CD,CAREER_1_YRCNT,CAREER_2_YRCNT,CAREER_3_YRCNT,CAREER_1_MMCNT,CAREER_2_MMCNT,CAREER_3_MMCNT,CAREER_1_CLCD,CAREER_2_CLCD,CAREER_3_CLCD,EDUBG_STCD,LAST_EDUBG_CD_x,EMP_SPT_TP_CD,DAILY_TECH_GRDCD,MILITARY_EXC_HOPE_CD,ETC_HOPE_CONT,WM_HEAD_YN,MARRY_IMMIGRATION_YN,ISLAND_YN,HEAD_SUP_YN,PRISONER_YN,MILITARY_DISCHARGE_YN,DRIVE_POSSIBLE_YN,CAR_OWNER_YN,WORLDJOB_HOPE_YN,TRANSIT_JOB_YN,TRANSIT_SEEK_CONV_DT,TRANSIT_SEEK_TP_CD,TRANSIT_SEEK_TP_ETC_CONT,HOPE_PL_ASK,HOPE_PL,QUAL_PATH,SREG_ORGCD,SREG_DTM,SMODIFY_ORGCD,SMODIFY_DTM,EMP_INFO_MAIL_RCV_YN,CAREER_CUT_YN,FOUND_YN,SAEIL_IF_AGREE_YN,OREACH_SVC_APPL_YN,ROT_2_WORK_YN,ROT_3_WORK_YN,INDINS_WORKER_YN,SUB_EMP_HOPE_YN,CURT_USR_ID,SVC_HOPE_ORG_GBCD,SUB_INDIV_INFO_OFFER_AGREE_YN,MEMO_CONT,WORK_ST_EXPECT_DT,EMP_BUSIPLC_NM,EUP_IAP_GRD,SVC_REQ_REQ_ID,INFO_OFFER,INFO_OFFER_DT,EMP_CHARGER,EMP_CHARGER_CONTACT,KEAD_IF_AGREE_YN,SEOUL_IF_AGREE_YN,SEEK_INFO_LOOK_CD,AUTO_AUTH_YN,FTJOB_NOCONV_YN,JOBS_DEGREE,SEEK_EMP_YN,QESTNR_UPRECOG_TY,KOREHA_IF_AGREE_YN,PTPM_BGDE,PTPM_ENDE,DYLB_HOPE_YN,JBHT_TY_CD,SPNT_CN,SPC_BIZ_PRTC_CL_CD,RQAG_HOPE_YN,SHSY_YN,TLMG_YN,MLSC_SPCS_DTAL_SECD,MDTN_HOPE_YN,JHNT_PPOS_CD,JHNT_PPOS_CN,WNET_CSDR_RESN_CN,SEEK_CUST_NO,LAST_EDUBG_CD_y,LAST_EDUBG_STCD,SCHL_NM,SCH_DPT_NM,MAJOR,MAJOR_DETL_CD,MAJOR_DETL_NM,HIST_STDT,HIST_ENDT,CERT_CNT,TRAIN_CNT,CERT_YN,TRAIN_YN,OVER_CNT,OVER_YN,AWARDS_CNT,AWARDS_YN,DATAPR_CNT,DATAPR_YN,FRLANG_CNT,FRLANG_YN,VOLUNTEER_CNT,VOLUNTEER_YN,PROJECT_CNT,PROJECT_YN
0,0000000000012,K151632101270005,2021-01-27,2022-01-27,33,49191320,2021-02-01,2021-11-26,None,91829531,024,4,1558800856,1,True,1987-06-24,F,41131,13259,2021-01-27 01:54:11,2021-01-27 01:54:11,2021-04-26,20,1,Y,I,2021-02-09 19:54:34,PMB6000366720,15163,"고용보험 취득에 의한 자동 마감. (20210201, 주식회사세움에듀)",N,None,None,None,None,None,Y,N,11,Y,M,180.00,180.00,Y,09:00 ~18:00,029101,None,None,"접수 및 예약 등에 직무, A/S센터 관련 직무, 그 외에 다른 직무도 가능",None,None,A1000,41133,41135,0.00,0.00,0.00,0.00,0.00,0.00,N,None,None,51,5,None,None,0,재택 근무를 희망 하며 사무보조 업무 문서관리 인터넷 검색 자료 수집 OA활용 가능...,N,None,N,None,None,N,N,N,N,None,None,None,None,Y,None,2,15163,2021-01-27 01:54:11,15163,2021-02-09 19:54:34,None,N,None,Y,None,Y,None,N,None,PMB6000366720,1,None,None,2021-02-01,주식회사세움에듀,None,None,None,NaT,None,None,Y,N,Y,Y,None,2018,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0000000000012,5,51,한양사이버대,사회복지학과 사회복지학전공,사회계열,020301,가족·사회·복지학,201703,202102,0.00,0.00,0,0,0.00,0,0.00,0,4.00,1,0.00,0,0.00,0,0.00,0
1,0000004995334,K131332103160046,2021-03-16,2022-03-16,34,None,NaT,NaT,None,NaN,None,None,None,NaN,False,1986-09-08,F,48330,50652,2021-03-16 11:34:12,2021-03-16 11:34:12,2021-10-18,20,1,Y,D,2021-10-19 01:20:37,system,11012,None,N,C,None,None,None,None,Y,N,10,N,M,200.00,200.00,Y,None,029505,None,None,"-사무보조, -서류작성 및 관리, -컴퓨터 활용 /한글 문서작성",None,None,26000,31000,None,2.00,NaN,NaN,0.00,NaN,NaN,E,None,None,50,4,None,1,0,None,N,None,N,None,None,N,Y,Y,N,None,None,None,None,N,None,None,13133,2021-03-16 11:34:12,11012,2021-10-19 01:20:37,None,Y,None,Y,None,None,None,None,N,SYS13133,1,Y,양산고용센터 이현희(055-379-2402),NaT,None,None,None,None,NaT,None,None,N,N,Y,Y,None,2018,None,None,None,None,None,Y,None,None,None,Y,N,N,None,Y,01,None,None,0000004995334,4,50,경남정보대학교,시각디자인과,예체능계열,070103,시각디자인,200803,201002,3.00,0.00,1,0,0.00,0,0.00,0,5.00,1,1.00,1,0.00,0,0.00,0
2,0000005001359,Dd04912104070150,2021-04-07,2022-04-07,34,57594352,2021-11-01,NaT,None,35285181,836,4,1308180605,1,False,1986-11-26,F,47190,39439,2021-04-07 00:00:00,2021-04-07 00:00:00,2021-10-06,10,1,N,D,2021-10-07 01:20:49,system,11012,None,N,C,None,0100,None,02,Y,N,99,None,H,197.00,8720.00,None,None,890007,None,None,"인쇄, 목재, 가구 및 기타 제조 분야 단순 종사원",None,None,47190,00000,None,NaN,NaN,NaN,NaN,NaN,NaN,N,None,None,50,3,None,None,0,None,N,N,N,None,N,N,N,N,N,None,None,None,None,N,None,None,d0491,2021-04-07 15:36:31,11012,2021-10-07 01:20:49,None,N,None,None,None,None,None,None,None,None,None,None,None,NaT,None,None,None,None,NaT,None,None,Y,None,Y,None,None,2018,None,None,None,None,None,None,None,None,None,None,None,None,None,N,None,None,None,0000005001359,3,50,대구상업고,None,None,None,None,None,None,0.00,0.00,0,0,0.00,0,0.00,0,0.00,0,0.00,0,0.00,0,0.00,0
3,0000005149080,K151522103040225,2021-03-04,2022-03-04,34,None,NaT,NaT,None,NaN,None,None,None,NaN,False,1986-12-23,F,41650,11178,2021-03-04 23:11:23,2021-03-04 23:11:23,2021-07-09,20,1,Y,D,2021-07-10 01:24:18,system,11012,None,N,C,None,None,None,None,N,N,10,N,M,140.00,140.00,Y,09:00~18:00,027204,029506,816105,경리사무,"사무,사무보조",조립 및 검사,41150,11320,11350,0.00,0.00,8.00,0.00,0.00,0.00,N,N,E,50,3,None,None,0,None,N,None,N,None,None,N,N,N,N,None,None,None,None,None,None,None,15152,2021-03-04 23:11:23,11012,2021-07-10 01:24:18,None,N,None,N,None,None,None,None,None,SYS15152,None,None,2021 서식개정 관련 마이그 작업 수행.,NaT,None,None,None,None,NaT,None,None,N,N,Y,Y,None,2018,None,None,None,None,None,None,None,None,None,None,None,None,None,Y,None,None,None,0000005149080,3,50,광동여자고등학교,None,None,None,None,200203,200502,0.00,0.00,0,0,0.00,0,0.00,0,0.00,0,0.00,0,0.00,0,0.00,0
4,0000005210173,K120612108020178,2021-08-02,2022-08-02,34,51877090,2021-08-17,NaT,None,109775206,133,4,3718602113,1,True,1986-11-25,F,11590,07047,2021-08-02 12:29:12,2021-08-02 12:29:12,2022-03-07,20,1,Y,I,2021-08-24 19:44:19,SYS12061,12061,"고용보험 취득에 의한 자동 마감. (20210817, 주식회사블루베리엠피)",N,C,None,None,None,None,N,N,99,N,Y,391.00,4700.00,Y,None,415500,None,None,상세페이지 디자인웹 디자인제품디자인,None,None,11000,None,None,0.00,NaN,NaN,0.00,NaN,NaN,N,None,None,50,5,None,None,0,None,N,None,N,None,None,N,N,N,N,None,None,None,None,N,None,None,12061,2021-08-02 12:29:12,12061,2021-08-24 19:44:19,None,N,None,N,None,None,None,None,N,SYS12061,None,N,서울관악고용센터 김태균(02-3282-9376),2021-08-17,주식회사블루베리엠피,None,None,None,NaT,None,None,N,N,Y,Y,None,2018,None,None,None,None,None,N,None,None,None,N,N,N,None,Y,01,None,None,0000005210173,5,50,한남대학교,멀티미디어소프트웨어전공,공학계열,040802,응용 소프트웨어 공학,200503,201008,6.00,0.00,1,0,0.00,0,1.00,1,3.00,1,0.00,0,0.00,0,0.00,0

In [9]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1272431 entries, 0 to 1272430
Data columns (total 159 columns):
 #    Column                         Dtype
---   ------                         -----
 0    SEEK_CUST_NO_x                 object
 1    SEEK_AUTH_NO                   object
 2    SEEK_AUTH_DT_x                 datetime64[ns]
 3    SEEK_AUTH_DT_AF12              datetime64[ns]
 4    AGE_x                          int64
 5    CNO                            object
 6    ACQS_DE                        datetime64[ns]
 7    FRFTR_DE                       datetime64[ns]
 8    LFLY_DE                        object
 9    BPLC_CNO                       object
 10   JSSFC_CD                       object
 11   JSSFC_OD                       object
 12   BIZRNO                         object
 13   RN                             object
 14   MONTH_6                        bool
 15   BIRTHDATE                      datetime64[ns]
 16   SEX_CD                         object
 17   REGION_CD                      object
 18   ZIP_CD                         object
 19   SEEK_AUTH_DTM                  datetime64[ns]
 20   SEEK_APPLY_DTM                 datetime64[ns]
 21   SEEK_CLOSE_HOPE_DT             datetime64[ns]
 22   SEEK_APPLY_CH_CLCD             object
 23   COMM_DAILY_CLCD                object
 24   INFO_OPEN_GRDCD                object
 25   CLOSE_CLCD                     object
 26   LAST_CLOSE_DTM                 datetime64[ns]
 27   LAST_CLOSE_DEALER_ID           object
 28   CLOSE_DEAL_ORGCD               object
 29   CLOSE_DEAL_CONT                object
 30   SAE_YN                         object
 31   SELFSPT_CLCD                   object
 32   REQ_NO                         object
 33   SEEK_REG_GOAL_CD               object
 34   SEEK_REG_GOAL_ETC_CONT         object
 35   PLCMT_HOPE_LEVEL_CD            object
 36   SEEK_INFO_OPEN_CD              object
 37   MAILSVC_RCV_YN                 object
 38   EMP_TP_CD                      object
 39   DELEGATE_WORK_YN               object
 40   SAL_TP_CD                      object
 41   MM_SAL                         float64
 42   HOPE_SAL                       float64
 43   READJUST_POSS_YN               object
 44   HOPE_WORK_HR                   object
 45   HOPE_JOBS_1_CD                 object
 46   HOPE_JOBS_2_CD                 object
 47   HOPE_JOBS_3_CD                 object
 48   JOB_1_CONT                     object
 49   JOB_2_CONT                     object
 50   JOB_3_CONT                     object
 51   HOPE_REGION_1_CD               object
 52   HOPE_REGION_2_CD               object
 53   HOPE_REGION_3_CD               object
 54   CAREER_1_YRCNT                 float64
 55   CAREER_2_YRCNT                 float64
 56   CAREER_3_YRCNT                 float64
 57   CAREER_1_MMCNT                 float64
 58   CAREER_2_MMCNT                 float64
 59   CAREER_3_MMCNT                 float64
 60   CAREER_1_CLCD                  object
 61   CAREER_2_CLCD                  object
 62   CAREER_3_CLCD                  object
 63   EDUBG_STCD                     object
 64   LAST_EDUBG_CD_x                object
 65   EMP_SPT_TP_CD                  object
 66   DAILY_TECH_GRDCD               object
 67   MILITARY_EXC_HOPE_CD           object
 68   ETC_HOPE_CONT                  object
 69   WM_HEAD_YN                     object
 70   MARRY_IMMIGRATION_YN           object
 71   ISLAND_YN                      object
 72   HEAD_SUP_YN                    object
 73   PRISONER_YN                    object
 74   MILITARY_DISCHARGE_YN          object
 75   DRIVE_POSSIBLE_YN              object
 76   CAR_OWNER_YN                   object
 77   WORLDJOB_HOPE_YN               object
 78   TRANSIT_JOB_YN                 object
 79   TRANSIT_SEEK_CONV_DT           object
 80   TRANSIT_SEEK_TP_CD             object
 81   TRANSIT_SEEK_TP_ETC_CONT       object
 82   HOPE_PL_ASK                    object
 83   HOPE_PL                        object
 84   QUAL_PATH                      object
 85   SREG_ORGCD                     object
 86   SREG_DTM                       datetime64[ns]
 87   SMODIFY_ORGCD                  object
 88   SMODIFY_DTM                    datetime64[ns]
 89   EMP_INFO_MAIL_RCV_YN           object
 90   CAREER_CUT_YN                  object
 91   FOUND_YN                       object
 92   SAEIL_IF_AGREE_YN              object
 93   OREACH_SVC_APPL_YN             object
 94   ROT_2_WORK_YN                  object
 95   ROT_3_WORK_YN                  object
 96   INDINS_WORKER_YN               object
 97   SUB_EMP_HOPE_YN                object
 98   CURT_USR_ID                    object
 99   SVC_HOPE_ORG_GBCD              object
 100  SUB_INDIV_INFO_OFFER_AGREE_YN  object
 101  MEMO_CONT                      object
 102  WORK_ST_EXPECT_DT              datetime64[ns]
 103  EMP_BUSIPLC_NM                 object
 104  EUP_IAP_GRD                    object
 105  SVC_REQ_REQ_ID                 object
 106  INFO_OFFER                     object
 107  INFO_OFFER_DT                  datetime64[ns]
 108  EMP_CHARGER                    object
 109  EMP_CHARGER_CONTACT            object
 110  KEAD_IF_AGREE_YN               object
 111  SEOUL_IF_AGREE_YN              object
 112  SEEK_INFO_LOOK_CD              object
 113  AUTO_AUTH_YN                   object
 114  FTJOB_NOCONV_YN                object
 115  JOBS_DEGREE                    object
 116  SEEK_EMP_YN                    object
 117  QESTNR_UPRECOG_TY              object
 118  KOREHA_IF_AGREE_YN             object
 119  PTPM_BGDE                      object
 120  PTPM_ENDE                      object
 121  DYLB_HOPE_YN                   object
 122  JBHT_TY_CD                     object
 123  SPNT_CN                        object
 124  SPC_BIZ_PRTC_CL_CD             object
 125  RQAG_HOPE_YN                   object
 126  SHSY_YN                        object
 127  TLMG_YN                        object
 128  MLSC_SPCS_DTAL_SECD            object
 129  MDTN_HOPE_YN                   object
 130  JHNT_PPOS_CD                   object
 131  JHNT_PPOS_CN                   object
 132  WNET_CSDR_RESN_CN              object
 133  SEEK_CUST_NO                   object
 134  LAST_EDUBG_CD_y                object
 135  LAST_EDUBG_STCD                object
 136  SCHL_NM                        object
 137  SCH_DPT_NM                     object
 138  MAJOR                          object
 139  MAJOR_DETL_CD                  object
 140  MAJOR_DETL_NM                  object
 141  HIST_STDT                      object
 142  HIST_ENDT                      object
 143  CERT_CNT                       float64
 144  TRAIN_CNT                      float64
 145  CERT_YN                        int64
 146  TRAIN_YN                       int64
 147  OVER_CNT                       float64
 148  OVER_YN                        int64
 149  AWARDS_CNT                     float64
 150  AWARDS_YN                      int64
 151  DATAPR_CNT                     float64
 152  DATAPR_YN                      int64
 153  FRLANG_CNT                     float64
 154  FRLANG_YN                      int64
 155  VOLUNTEER_CNT                  float64
 156  VOLUNTEER_YN                   int64
 157  PROJECT_CNT                    float64
 158  PROJECT_YN                     int64
dtypes: bool(1), datetime64[ns](13), float64(16), int64(9), object(120)
memory usage: 1.5+ GB

In [10]:
# 고용보험취득직종(3자리)
# 직업추천에 사용할 target 변수
# 각 직종별로 인원이 다른 문제는 어떻게 해결할 수 있을지 
# 소분류(3자리) 대신 중분류(2자리)로 추천해주는 것도 고려해보기
df['JSSFC_CD'].value_counts()


# 026: 경영지원 사무원
# 029: 안내·고객상담·통계·비서·사무보조 및 기타 사무원
# 890: 제조 단순 종사자
# 532: 식당 서비스원
# 307: 보건·의료 종사자

026    82560
029    58082
890    51914
532    40559
307    39218
       ...
233       92
884       89
011       21
483        1
948        1
Name: JSSFC_CD, Length: 137, dtype: int64

In [11]:
#경력년월수(개월) 변수 만들기
career = ['CAREER_1_YRCNT','CAREER_1_MMCNT','CAREER_2_YRCNT','CAREER_2_MMCNT','CAREER_3_YRCNT','CAREER_3_MMCNT']
df[career] = df[career].fillna(0)
df['CAREER_YMCNT'] = df['CAREER_1_YRCNT']*12 +df['CAREER_1_MMCNT'] + df['CAREER_2_YRCNT']*12 +df['CAREER_2_MMCNT'] +df['CAREER_3_YRCNT']*12 +df['CAREER_3_MMCNT']

In [12]:
# 희망지역 코드 두자리 변수 생성
df['HOPE_REGION_1_2CD'] = df['HOPE_REGION_1_CD'].str[0:2]

# 거주지 코드 두자리 변수 생성
df['REGION_2CD'] = df['REGION_CD'].str[0:2]

# 희망지역 - 거주지 일치 여부(일치: True, 불일치: False)
df['REGION_EQUAL'] = (df['HOPE_REGION_1_2CD'] == df['REGION_2CD'])

In [13]:
# 세부전공 코드 네자리 변수 생성
df['MAJOR_DETL_4CD'] = df['MAJOR_DETL_CD'].str[0:4]

In [14]:
# 수치형 데이터
# AGE_x: 나이 
# MM_SAL: 월평균희망급여
# CAREER_YMCNT: 경력년월수(개월)

numeric_features = ['AGE_x','MM_SAL','CAREER_YMCNT']
df[numeric_features].describe()

           AGE_x     MM_SAL  CAREER_YMCNT
count 1272431.00 1089759.00    1272431.00
mean       26.71     232.10         17.75
std         3.83      85.36         33.48
min        19.00       0.00          0.00
25%        24.00     200.00          0.00
50%        26.00     208.00          0.00
75%        30.00     250.00         24.00
max        34.00    8720.00       1250.00

In [17]:
# 전공계열
df['MAJOR_DETL_4CD'].value_counts()

# 0201: 경영·경제
# 0203: 사회과학
# 0101: 언어·문학
# 0408: 컴퓨터·통신
# 0701: 디자인 
# 0404: 기계·금속

0201    182097
0203    106169
0101     74318
0408     69556
0701     61781
0404     54669
0405     51507
0503     49551
0604     38093
0502     31784
0102     31549
0702     30996
0703     25168
0401     23279
0302     21235
0602     19158
0706     18831
0305     16860
0403     13728
0504     12533
0411     12483
0410     12063
0202     11547
0402     11149
0407     10728
0705     10691
0601     10521
0409      7955
0704      7825
0406      7700
0501      6566
0301      4324
0303      3853
0304      1633
0603      1366
02          14
05           6
01           6
03           5
04           5
06           4
07           1
Name: MAJOR_DETL_4CD, dtype: int64

In [19]:
# 대학졸업여부
print(df['LAST_EDUBG_CD_x'].value_counts())

# 0: 무학
# 1: 초등학교
# 2: 중학교
# 3: 고등학교
# 4: 대학교(2/3년제)
# 5: 대학교(4년제)
# 6: 대학교(석사)
# 7: 대학교(박사)

5    579416
4    344566
3    311989
6     26179
2      7482
7      1288
0       787
1       724
Name: LAST_EDUBG_CD_x, dtype: int64

In [21]:
# 성별
print(df['SEX_CD'].value_counts())

F    697476
M    574955
Name: SEX_CD, dtype: int64

In [22]:
#희망지역-거주지 일치 여부
print(df['REGION_EQUAL'].value_counts())

True     996116
False    276315
Name: REGION_EQUAL, dtype: int64

In [26]:
# 고용형태코드 리코딩
# 기간의 정함이 없는 근로계약(10) or 기간의 정함이 없는 근로계약(시간(선택)제)(11) --> 1 (정규직)
# 기간의 정함이 있는 근로계약(20) or 기간의 정함이 있는 근로계약(시간(선택)제)(21) --> 2 (비정규직)
# 관계없음(99) --> 0  

def test1(x):
  if (x == '10') | (x == '11') :
    return 1
  elif (x == '20') | (x == '21') :
    return 2
  elif x == '99':
    return 0

df['RE_EMP_TP_CD'] = df['EMP_TP_CD'].apply(test1)

In [27]:
# 희망고용형태코드
print(df['RE_EMP_TP_CD'].value_counts())

# 0: 관계없음 
# 1: 정규직
# 2: 비정규직

1    693681
0    484516
2     94234
Name: RE_EMP_TP_CD, dtype: int64